.bgqr {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20%;
	flex-direction: column;
}

.GAY {
	padding: 10px;
	gap: 10%;
	display: flex;
}

.YES,
.NO {
	background-color: whitesmoke;
	text-align: center;
	align-items: center;
	border: white;
	border-radius: 10px;
	padding: 5%;
	width: 100px;
}
